.login-bgc {
    width: 100%;
    height: 100%;
    position: absolute;
    background-size: 100%, 100%;
    background-image: url("../img/login.png");
}

.login-content {
    width: 400px;
    height: 300px;
    background-color: rgba(0, 0, 0, 0.7);
    margin: 180px auto;
    padding: 20px 40px;
    border-radius: 40px;
}

.system-name {
    float: left;
    background-color: rgba(0, 0, 0, 0.7);
    font-size: 26px;
    color: #fff;
    margin: 180px 200px;
    writing-mode: vertical-rl;
    border-radius: 5px
}


.h2 {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
    color: #fff;
}


.login-form-button {
    width: 60%;
    border: 2px solid #0e92b3;
    text-align: center;
    border-radius: 30px;
    cursor: pointer;
    margin-left: 60px;
    background-color: #282c34;
    /*margin: 0 auto;*/
    /*transition:0.2s;*/
}

.input-style {
    border-radius: 30px;
}

